form{
    margin-top: 20px;
}

input{
    height: 20px;
    margin-bottom: 10px;
}

#img2{
    height: 240px;
    margin: 160px 800px 0px 0px;
    position: absolute;
}

.box{
    margin: 50px 0px 0px 500px;
}

hr{
    margin-top: 250px;
    color: seashell;
}

#bubble{
    height: 300px;
    margin:0px 500px 0px 30px;
    position: absolute;
}

#text{
    margin-left:760px;
}