@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

body{
    background-color: pink;
    font-family: 'Alef', sans-serif;
}

button{
    color:rgb(131, 18, 206);
    background-color: transparent;
    font-size: large;
    width:9%;
    border-radius: 8px;
}
